<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- CSS only -->
<title>Products-Fashioner</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<style>
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  </style>
</head>
<body>
 
<!-- <div class="row row-cols-1 row-cols-md-3 g-4" >
  <%  detail.forEach(function(data){ %>
    <div class="card" style="width: 18rem;">
      <h5 class="card-title"><%= data.name %></h5>
      <img src="<%= data.image %>" class="card-img-top"  alt="" srcset="">
      <div class="card-body">
        <h5 class="card-title">PRICE</h5>
        <p class="card-text"><p><span style="color: green;"><%= data.price %></span></p><span style="color: red;"><del>400</del></span></p>
        <p class="card-text"><h1><span style="color: black;"><%= data.discription %></span></h1></p>
        <a href="#" class="btn btn-success">Update</a>
        <a href="#" class="btn btn-danger">Remove</a>
        
      </div>
    </div>
</div>
  <%    }) %>
</div> -->
  
  <!-- </div>//
<div class="row">
  <%  detail.forEach(function(data){ %>
  <div class="column">
    <div class="card">
        
        <img src="<%= data.image %>" class="card-img-top"  alt="" srcset="">
        <p class="card-text"><p><span style="color: green;" style="font-size:30px"><%= data.price %></span></p><span style="color: red;"><del style="font-size:30px">100</del></span></p>
        <p class="card-text"><h1><span style="color: black;"><%= data.discription %></span></h1></a>
        <a href="#" class="btn btn-success">Update</a>
        <a href="#" class="btn btn-danger">Remove</a>
        </div>
    </div>

  </div>
  <%    }) %>
</div>
// -->
<div class="row row-cols-1 row-cols-md-3 g-4" >
  <%  detail.forEach(function(data){ %>
  <div class="col">
    <div class="card h-100">
    
      <div class="card-body" style="background:whitesmoke;">
        <img src="<%= data.image %>" class="card-img-top"  alt="" srcset="">
        <h2 class="card-title" style="color:black;"><%= data.name %></h2>
       
        <a class="card-text" style="color:black;text-decoration: none;"><h5><%= data.size %></h5></a>
       
        <a class="card-text" style="color:darkblue;font-size: 20px; text-decoration: none ;color: green;"><h5><%= data.price %></h5><span style="color: red;"><del><h5><%= data.dprice %></h5></del></span></a>
        <a class="card-text" style="color:darkblue;font-size: 20px; text-decoration: none;color: darkgray;"><h5><%= data.discription %></h5></a>
        <div class="container-fluid">
       
        <form action="/update" method="post">
          <input type="hidden" name="id" value="<%= data._id %>">
        <button type="submit" class="btn btn-success" style="margin-right: 30%;margin-left: 60px;">Update</button>
         </form>
      <!-- <a class="btn btn-danger" href="/admin/edit.product/<%= data.id %>" name="Remove" role="button">Edit</a> -->
     <form action="/delete" method="post">
       <input type="hidden" name="id" value="<%= data._id %>">
     <button type="submit" class="btn btn-danger" style="margin-right: 30%;margin-left: 60px;">Delete</button>
      </form>
    </div>
      </div>
    </div>
  </div>
  <%    }) %>
</div>

<!-- <div class="row row-cols-1 row-cols-md-3 g-4" >
  <%  detail.forEach(function(data){ %>
  <div class="col">
    <div class="card h-100 w-100">
    
      <div class="card-body" style="background: whitesmoke;">
        <h2 class="card-title"><h2><%= data.name %></h2><p class="card-text" style="color:blue;font-size: 20px; text-decoration: none;"></p></h2>
        
        <img src="<%= data.image %>" class="card-img-top"  alt="" srcset="">
        <p class="card-text"><p><span style="color: green;" style="font-size:30px"><%= data.price %></span></p><span style="color: red;"><del style="font-size:30px">100</del></span></p>
        <p class="card-text"><h1><span style="color: black;"><%= data.discription %></span></h1></a>
        <a href="#" class="btn btn-success">Update</a>
        <a href="#" class="btn btn-danger">Remove</a>
      
      </div>
    </div>
  </div>
  <%    }) %>
</div> -->
  
</body>
</html>
