<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- CSS only -->
<title>Products-Mens Fashion</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<div class="row row-cols-1 row-cols-md-3 g-4" >
  <%  detail.forEach(function(data){ %>
  <div class="col">
    <div class="card h-100">
    
      <div class="card-body" style="background: whitesmoke">
        <h2 class="card-title"><a class="card-text" style="color:black;font-size: 20px; text-decoration: none;"><h5><%=data.name %></h5></a></h2>
        
        <h2 class="card-title">size:</h2>
        <a class="card-text" style="color:black;font-size: 20px; text-decoration: none;"><h5><%= data.image %></h5></a>
        <h2 class="card-title">image:</h2>
        <a class="card-text" style="color:black;font-size: 20px; text-decoration: none;"><h5><%= data.size %></h5></a>
        <!-- <h2 class="card-title">color:</h2>
        <a class="card-text" style="color:darkblue;font-size: 20px; text-decoration: none;"><h5><%= data.color %></h5></a> -->
        <h2 class="card-title">price</h2>
        <a class="card-text" style="color:black;font-size: 20px; text-decoration: none;"><h5><%= data.price %></h5></a>
        <h2 class="card-title">description</h2>
        <a class="card-text" style="color:black;font-size: 20px; text-decoration: none;"><h5><%= data.discription %></h5></a>
     
        <a><i class="fa fa-art-circle-plus" style="color:black;font-size:50px;"></i></a>
        <a><i class="fa fa-heart"style="color:red;font-size:50px"></i></a>
      </div>
    </div>
  </div>
  <%    }) %>
</div>
  
</body>
</html>
