<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- CSS only -->
<title>Products-Fashioner</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<style>

  cl.src
  {
  width:100px;
  }
  
  .button {
    background-color:#0000a0;
    border: none;
    color: white;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  table {
  width: 30px;
  border-collapse: collapse;
  margin: 55px auto;
}

th {
  background: #050505;
  color: white;
  font-weight: bolder;
  font-family: arial-black, sans-serif;
}

td {
  padding: 10px;
  border: 0px solid #33ccff;
  text-align: center;
  font-size: 15px;
  font-family: Raleway, sans-serif, sans-serif;
}
tr {
  padding: 10px;
  border: 3px solid #fff;
}

th {
  padding: 10px;
  border: 3px solid #fff;
}

.labels tr td {
  background-color: #33ccff;
  font-weight: bold;
  color: #0007;
  text-transform: uppercase;
}

.label tr td label {
  display: block;
}

[data-toggle="toggle"] {
  display: none;
}

.checked {
  color: orange;
}
  .button5 {border-radius: 100%;}
 
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  </style>
</head>
<script >
	$(document).ready(function(){
		$("#myinput").on("keyup",function(){
		var value = $(this).val().toLowerCase();
		$("#card div").filter(function(){
			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);

		});
	});
		});


</script>
<body>
  <div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a><h1>Mens Fashion</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-1 mb-lg-0">
            <li class="nav-item" style="margin-left: 20%;">
              <a class="nav-link active" aria-current="page" href="#"><h4>Home</h4></a>
            </li>
 
            <li class="nav-item dropdown" style="margin-left: 20%;">
              <a class="nav-link active" href="collections" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <h4>Arrivals</h4>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="collections"><h5>collections</h5></a></li>
                <li><a class="dropdown-item" href="#"><h5>Mens</h5></a></li>
               
                <li><a class="dropdown-item" href="#"><h5>Inners</h5></a></li>
              </ul>
            </li>
            <li class="nav-item" style="margin-left: 20%;">
              <a class="nav-link active" href="#" ><h4>Contact</h4></a>
            </li>
            
            <li class="nav-item dropdown" style="margin-left: 20%;">
              <a class="nav-link active" href="collections" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="collections"><h5>My Orders</h5></a></li>
                <li><a class="dropdown-item" href="#"><h5>Edit Profile</h5></a></li>
               
                <li><a class="dropdown-item" href="#"><h5>Logout</h5></a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
   
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
<div class="row row-cols-1 row-cols-md-3 g-4" >
  <%  detail.forEach(function(data){ %>
  <div class="col">
    <div class="card h-100">
    
      <div class="card-body" style="background:whitesmoke;">
        <img src="<%= data.image %>" class="card-img-top"  alt="" srcset="">
        <h2 class="card-title" style="color:black;"><%= data.name %></h2>
    
        <a class="card-text" style="color:black;text-decoration: none;"><h5><%= data.size %></h5></a>
        <a style="color: red;margin-right:100px;margin-left: -10px;"><del><h5>Rs.<%= data.price %></h5></del></a>
        <a class="card-text" style="color:darkblue;font-size: 20px;text-decoration: none ;color: green;"><h5>Rs.<%= data.dprice %></h5></a>

        <a class="card-text" style="color:darkblue;font-size: 20px;padding-left: -60px;text-decoration: none;transform: translatex(60px);color: darkgray;"><h5><%= data.discription %></h5></a>
        <table>
          <thead>
            <tr>
              <td>
                </td>
            </tr>
        
              <th>S</th>
              <th>M</th>
              <th>L</th>
              <th>XL</th>
              <th>2XL</th>
              <th>3XL</th>
            </tr>
          </thead>
          <tbody>
           
        </table>
        
        <form action="" method="">
          <input type="hidden" name="id" value="<%= data._id %>">
        <button type="submit" class="btn btn-outline-primary" style="margin-right: 90%;padding: 10px 24px;border-radius: 14px;"><i class="fa fa-shopping-cart"><span style="font-size:20px;padding:10px">cart</span></i></button>
         </form>
         <form action="" method="">
          <input type="hidden" name="id" value="<%= data._id %>">
        <button type="submit" class="btn btn-outline-success" style="margin-left: 50%;margin-top:-80px;padding: 10px 24px;border-radius: 14px;"><i class="fa fa-heart" style="color: red;"><span style="font-size:20px;padding:10px;">Like</span></i></button>
         </form>
        <div class="container-fluid">
       
    </div>
      </div>
    </div>
  </div>
  <%    }) %>
</div>

</body>
</html>